{% extends 'base.html' %}
{% block title %} Assignment 8 {%endblock%}

{% block content %}
{{super()}}
    <br>
First Name: {{firstName | default('Unknown', true) | upper()}}
    <br>
Last Name : {{lastName | default('Unknown', true) | lower()}}
    <br>
{% if firstName %}
    Thanks you for writing your first name
{% else %}
    Why you did not write your first name?
{% endif %}
    <br>
Hobbies:
<ol>
    {% for hobby in hobbies %}
        <li>{{hobby}}</li>
    {% endfor %}
</ol>
{% endblock %}